In [ ]:
import pandas as pd

url = 'https://www.espncricinfo.com/rankings/content/page/211271.html'

all_tables = pd.read_html(url)

ICC_rankings_df = all_tables[1][['Pos','Team','Rating']]
ICC_rankings_df.columns = ['Team_ranking', 'Team_name', 'Rating']

print(ICC_rankings_df)

    Team_ranking     Team_name  Rating
0              1         India     121
1              2     Australia     115
2              3  South Africa     112
3              4      Pakistan     109
4              5   New Zealand     103
5              6       England      99
6              7     Sri Lanka      88
7              8    Bangladesh      87
8              9   Afghanistan      84
9             10   West Indies      68
10            11      Zimbabwe      55
11            12      Scotland      50
12            13       Ireland      43
13            14   Netherlands      41
14            15         Nepal      34
15            16       Namibia      29
16            17           USA      26
17            18          Oman      22
18            19           UAE      15

In [ ]:
desired_teams = ['India', 'New Zealand', 'England', 'Sri Lanka', 'Australia', 'Pakistan', 'Netherlands', 'South Africa', 'Bangladesh', 'Afghanistan']

filtered_df = ICC_rankings_df[ICC_rankings_df['Team_name'].isin(desired_teams)]

print(filtered_df)

    Team_ranking     Team_name  Rating
0              1         India     121
1              2     Australia     115
2              3  South Africa     112
3              4      Pakistan     109
4              5   New Zealand     103
5              6       England      99
6              7     Sri Lanka      88
7              8    Bangladesh      87
8              9   Afghanistan      84
13            14   Netherlands      41

In [ ]:
filtered_df.to_csv("ICC_rankings.csv")